body {
    background-color: lightgray;
}
/* logo rwd settings */
.vc-logo {
    float: left;
    max-width: 50%;
    margin-top: 2%;
}
/* css for navigation tabs on home page */
.nav-bar {
    text-decoration: none;
    color: rgb(48, 48, 48);
    font-family: Arial, Helvetica, sans-serif;
    padding: 2%;
    background-color: burlywood;
    box-sizing: border-box;
    display:inline-block;
    margin-right: 2%;
    
}
/* intro to vicious cycles on home page */

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(48, 48, 48);
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(48, 48, 48);
}
#sunset-bikes {
    max-width: 85%;
}